[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
aiogram = "*"
aiosqlite = "*"
databases = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pylint = "*"
"flake8-commas" = "*"
"flake8-mypy" = "*"
types-requests = "*"
